.HeaderM-div {
  position: relative;
  left: 4rem;
  width: 80%;
  height: 400px;
  padding: 2rem;
  grid-column: 1/3;
  justify-self: end;
}

h1 {
  font-size: 3rem;
  color: rgb(18, 33, 65);
}

p {
  font-size: 1.2rem;
  color: rgb(61, 71, 94);
}

#tester {
  font-size: 1.5rem;
}
