.Links-button {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0));
  border: none;
  border-radius: 5%;
  margin: 0 0.8rem;
  font-size: 1rem;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #8d9096;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.Links-button:hover {
  color: black;
}

.Links-button:focus {
  outline: 2px solid black;
}
